<!doctype html>
<html>
<head>
    {% load static %}
    <title>Grocery List Planner</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="{% static '/jquery.js' %}"></script>
</head>
<body>
<div>
    <h1>Grocery List:</h1>
    <form id="new_item" class="form-group">
        {% csrf_token %}
        <label for="name">Item:</label>
        <input type="text" id="name" class="form-control">
        {% if messages %}
            {% for message in messages %}
                <h5 class="alert alert-danger">{{ message }}</h5>
            {% endfor %}
        {% endif %}
        <label for="category">Category:</label>
        <select id="category" class="form-control">
            <option value="Baking/Condiments">Baking/Condiments</option>
            <option value="Beverages">Beverages</option>
            <option value="Breads/Pasta">Breads/Pasta</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Canned Goods">Canned Goods</option>
            <option value="Cleaning Products">Cleaning Products</option>
            <option value="Dairy">Dairy</option>
            <option value="Frozen Foods">Frozen Foods</option>
            <option value="Meat/Seafood">Meat/Seafood</option>
            <option value="Misc.">Miscellaneous</option>
            <option value="Paper/Plastic">Paper/Plastic</option>
            <option value="Produce">Produce</option>
            <option value="Snacks">Snacks</option>
            <option value="Toiletries">Toiletries</option>
        </select>
        <label for="quantity">Quantity: </label>
        <input type="text" id="quantity" placeholder="optional"
               class="form-control">
        <label for="weight">Weight:</label>
        <input type="text" id="weight" placeholder="optional"
               class="form-control">
        <button type="submit" class="btn btn-success btn-block"
                id="submit">Add Item
        </button>
    </form>
    <h1 id="result"></h1>
    {% regroup results by category as results_by_category %}
    {% for i in results_by_category %}
        <h3>{{ i.grouper }}</h3>
        <ul>
            {% for p in i.list %}
                <li class="item"{% if p.is_complete %}
                    style="text-decoration: line-through; color: #888888"
                {% endif %}>

                    <a href="/complete/{{ p.name }}"{% if p.is_complete %}
                       style="text-decoration: line-through; color: #888888"
                    {% endif %}>{{ p.name }}</a>

                    {% if p.quantity > 1 %}
                        - {{ p.quantity }}
                    {% endif %}

                    {% if p.weight > 8 and p.quantity > 1 %}
                        - [{{ p.weight }} oz. total]

                    {% elif p.weight and p.quantity > 1 %}
                        - [{{ p.weight }} lbs. total]

                    {% elif p.weight > 8 %}
                        - {{ p.weight }} oz.

                    {% elif p.weight > 0 %}
                        - {{ p.weight }} lbs.
                    {% else %}

                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <br>
    <a href="{% url 'Delete' %}" class="btn btn-danger btn-block">Clear Grocery
                                                                  List?</a>
</div>
</body>
<script type="text/javascript">

    var UA = navigator.userAgent,
        iOS = !!(UA.match(/iPad|iPhone/i));

    if (iOS) {
        $(document).on('touchstart', '#submit', function () {
            $.ajax({
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    name: $('#name').val(),
                    category: $('#category').val(),
                    weight: $('#weight').val(),
                    quantity: $('#quantity').val()
                }
            });
        });
    } else {
        $(document).on('submit', '#new_item', function () {
            $.ajax({
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    name: $('#name').val(),
                    category: $('#category').val(),
                    weight: $('#weight').val(),
                    quantity: $('#quantity').val()
                }
            });
        });
    }
</script>
</html>
