<!doctype html>
<html>
<head>
    {% load static %}
    <title>Example Domain</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="{% static '/jquery.js' %}"></script>

</head>


<body>
<div>
    <h1>Grocery List:</h1>
    <form id="new_item">
        {% csrf_token %}
        Item: <br>
        <input type="text" id="name"> <br>
        Category: <br>
        <select id="category">
            <option value="Produce">Produce</option>
            <option value="Dairy">Dairy</option>
            <option value="Meat/Seafood">Meat/Seafood</option>
            <option value="Frozen Foods">Frozen Foods</option>
            <option value="Breads/Pasta">Breads/Pasta</option>
            <option value="Canned Goods">Canned Goods</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Snacks">Snacks</option>
            <option value="Baking/Condiments">Baking/Condiments</option>
            <option value="Beverages">Beverages</option>
            <option value="Paper/Plastic">Paper/Plastic</option>
            <option value="Cleaning Products">Cleaning Products</option>
            <option value="Toiletries">Toiletries</option>
            <option value="Misc.">Misc.</option>
        </select><br>
        Quantity: <br>
        <input type="text" id="quantity"><br>
        Weight: <br>
        <input type="text" id="weight"><br>
        <input type="submit" value="Add Item">
    </form>

    {% regroup results by category as results_by_category %}
    {% for i in results_by_category %}
        <h3>{{ i.grouper }}</h3>
        <ul>
            {% for p in i.list %}
                <li>{{ p.name }}
                    {% if p.weight %}
                        - {{ p.weight }} oz/lbs
                    {% endif %}
                    {% if p.quantity %}
                        - {{ p.quantity }}
                    {% endif %}
                </li>

            {% endfor %}
        </ul>
    {% endfor %}

</div>

</body>

<script type="text/javascript">

    $(document).on('submit', '#new_item', function () {

        $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: $('#name').val(),
                category: $('#category').val(),
                weight: $('#weight').val(),
                quantity: $('#quantity').val()
            }
        });
    });

</script>

</html>
